@model ObligatorioProgramacion3_Francisco_Luis.Models.ExchangeRate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExchangeRate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
