@model IEnumerable<ObligatorioProgramacion3_Francisco_Luis.Models.ExchangeRate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
