@model ObligatorioProgramacion3_Francisco_Luis.Models.Client
@{
    ViewBag.Title = "Create";
}

@* Enlazar el archivo CSS *@
<link href="~/Content/StyleCrearClient.css" rel="stylesheet" type="text/css" />

<h2 class="page-title"><i class="fas fa-user-plus"></i> Crear cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-containerClient">
        <h4 class="form-titleClient">Voz del Este<br>Creación Cliente <i class="fas fa-microphone"></i></h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.IDNumber, "IDNumber")
            @Html.EditorFor(model => model.IDNumber, new { htmlAttributes = new { @class = "input-field", @placeholder = "Ingresa tu número de identificación" } })
            @Html.ValidationMessageFor(model => model.IDNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, "FirstName")
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input-field", @placeholder = "Ingresa tu nombre" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, "LastName")
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input-field", @placeholder = "Ingresa tu apellido" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email")
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-field", @placeholder = "Ingresa tu email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, "BirthDate")
            @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "input-field" } })
            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "Usuario")
            @Html.DropDownList("UserID", null, "Selecciona un usuario", htmlAttributes: new { @class = "input-field" })
            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="CREAR CLIENTE" class="submit-button" />
        </div>
    </div>
}

<div class="back-link">
    @Html.ActionLink("← Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}