@model ObligatorioProgramacion3_Francisco_Luis.Models.Client

@{
    ViewBag.Title = "Eliminar Cliente";
}

<!-- Fuentes -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!-- CSS -->
<link href="~/Content/Styles/StylesClients/StyleDeleteClient.css" rel="stylesheet" />

<div class="delete-container">
    <h2 class="delete-title">Eliminar Cliente</h2>
    <p class="confirm-text">¿Está seguro que desea eliminar al siguiente cliente?</p>

    <h4>Información del Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre:</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>Apellido:</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>Correo Electrónico:</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Fecha de Nacimiento:</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>

        <dt>Usuario Asignado:</dt>
        <dd>@Html.DisplayFor(model => model.User.UserName)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IDNumber)
        <div class="button-container">
            <input type="submit" value="Eliminar" class="btn-delete" />
            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "delete-page-back-button" })
        </div>
    }
</div>
