@model ObligatorioProgramacion3_Francisco_Luis.Models.Client

@{
    ViewBag.Title = "Details";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet">
<link href="~/Content/StyleDetailsClient.css" rel="stylesheet" />
<div class="details-container">
    <h2 class="details-title">Detalles del Cliente</h2>
    <h4 class="details-subtitle">Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

        <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.BirthDate)</dt>
        <dd>@Html.DisplayFor(model => model.BirthDate)</dd>

        <dt>@Html.DisplayNameFor(model => model.User.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.User.UserName)</dd>
    </dl>

    <div class="details-actions">
        @Html.ActionLink("Edit", "Edit", new { id = Model.IDNumber }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
