@model IEnumerable<ObligatorioProgramacion3_Francisco_Luis.Models.Client>
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Incluir el CSS personalizado *@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="~/Content/Styles/StylesClients/StyleIndexClient.css" rel="stylesheet" />

<div class="index-container">
    <h2 class="index-title">Lista de Clientes <i class="fas fa-microphone"></i></h2>

    <div class="create-button-container">
        @Html.ActionLink("Crear Nuevo Cliente", "Create", null, new { @class = "create-button" })
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="table-wrapper">
            <table class="clients-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo Electrónico</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Usuario Asignado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.BirthDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                            <td class="action-links">
                                @Html.ActionLink("Editar", "Edit", new { id = item.IDNumber })
                                <span class="action-separator">|</span>
                                @Html.ActionLink("Detalles", "Details", new { id = item.IDNumber })
                                <span class="action-separator">|</span>
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IDNumber })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="no-data-message">
            No hay clientes registrados. ¡Crea el primer cliente!
        </div>
    }
</div>
