@model ObligatorioProgramacion3_Francisco_Luis.Models.News

@{
    ViewBag.Title = "Eliminar";
}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StylesNews/StyleDeletenews.css" rel="stylesheet" />
<div class="delete-container">
    <h2 class="delete-title">Eliminar Noticia</h2>

    <h3 class="delete-warning">¿Estás seguro de que deseas eliminar esto?</h3>
    <hr />

    <dl class="dl-horizontal">
        <dt>Título</dt>
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        <dt>Descripción</dt>
        <dd>@Html.DisplayFor(model => model.Content)</dd>

        <dt>Fecha Publicada</dt>
        <dd>@Html.DisplayFor(model => model.PublishDate)</dd>

        <dt>Portada</dt>
        <dd>@Html.DisplayFor(model => model.ImageURL)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="delete-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver a la listaa", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
