@model ObligatorioProgramacion3_Francisco_Luis.Models.News

@{
    ViewBag.Title = "Detalles";
}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StylesNews/StyleDetailsNews.css" rel="stylesheet" />
<div class="details-container">
    <h2 class="details-title">Detalles de la Noticia</h2>
    <hr />

    <dl class="dl-horizontal">
        Titulo
        <dd>@Html.DisplayFor(model => model.Title)</dd>

        Descripcion
        <dd>@Html.DisplayFor(model => model.Content)</dd>

        Fecha Publicada
        <dd>@Html.DisplayFor(model => model.PublishDate)</dd>

        Portada
        <dd>@Html.DisplayFor(model => model.ImageURL)</dd>
    </dl>

    <div class="details-actions">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
        @Html.ActionLink("Volver a la lista", "Index")
    </div>
</div>
