@model IEnumerable<ObligatorioProgramacion3_Francisco_Luis.Models.RadioProgram>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permissions = ViewBag.Permissions as List<string> ?? new List<string>();
}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StyleRadioPrograms/StyleIndexRadioProgram.css" rel="stylesheet" />
<div class="index-container">
    <h2 class="index-title">Programas de Radio</h2>
    @if (permissions.Contains("CreateProgram"))
    {
        <div class="create-button-container">
            @Html.ActionLink("Crear Nuevo Programa", "Create", null, new { @class = "create-button" })
        </div>
    }

    @if (Model != null && Model.Any())
    {
        <div class="table-wrapper">
            <table class="radio-programs-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Portada </th>
                        <th>Descripcion </th>
                        <th>Programacion </th>
                        <th>Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.ProgramName)</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageURL))
                                {
                                    <img src="@Url.Content(item.ImageURL)" alt="Image" style="max-height:50px;" />
                                }
                            </td>
                            <td>@Html.DisplayFor(m => item.RadioDescription)</td>
                            <td>@Html.DisplayFor(m => item.Schedule)</td>
                            <td class="action-links">
                                @if (permissions.Contains("EditProgram"))
                                {
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) <span class="action-separator">|</span>
                                }
                                @if (permissions.Contains("ViewProgram"))
                                {
                                    @Html.ActionLink("Detalles", "Details", new { id = item.ID }) <span class="action-separator">|</span>
                                }
                                @if (permissions.Contains("DeleteProgram"))
                                {
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="no-data-message">
            No radio programs registered. Please create one!
        </div>
    }
</div>
