@model ObligatorioProgramacion3_Francisco_Luis.Models.Sponsor

@{
    ViewBag.Title = "Create";
}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StylesSponsors/StyleCreateSponsors.css" rel="stylesheet" />
<div class="form-containerSponsor">
    <h2 class="form-titleSponsor">Crear Patrocinador</h2>
    <hr class="create-divider" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })

        <div class="form-group">
            Nombre
            @Html.EditorFor(model => model.SponsorsName, new { htmlAttributes = new { @class = "input-field" } })
            @Html.ValidationMessageFor(model => model.SponsorsName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            Descripcion
            @Html.EditorFor(model => model.SponsorDescription, new { htmlAttributes = new { @class = "input-field" } })
            @Html.ValidationMessageFor(model => model.SponsorDescription, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            Plan
            @Html.EditorFor(model => model.CantPlan, new { htmlAttributes = new { @class = "input-field" } })
            @Html.ValidationMessageFor(model => model.CantPlan, "", new { @class = "text-danger" })
        </div>

        <div class="buttons-container">
            <input type="submit" value="Crear" class="submit-button" />
            <div class="back-link">
                @Html.ActionLink("← Volver a la Lista", "Index")
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
