@model ObligatorioProgramacion3_Francisco_Luis.Models.Sponsor

@{
    ViewBag.Title = "Delete";
}

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StylesSponsors/StyleDeleteSponsors.css" rel="stylesheet" />

<div class="delete-container">
    <h2 class="delete-title">Eliminar Sponsor</h2>
    <h3 class="confirm-text">¿Estás seguro que querés eliminar este Patrocinador?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre</dt>
        <dd>@Html.DisplayFor(m => m.SponsorsName)</dd>

        <dt>Descripcion</dt>
        <dd>@Html.DisplayFor(m => m.SponsorDescription)</dd>

        <dt>Plan</dt>
        <dd>@Html.DisplayFor(m => m.CantPlan)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="button-container">
            <input type="submit" value="Eliminar" class="btn-delete" />
            @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "delete-page-back-button" })
        </div>
    }
</div>
