@model IEnumerable<ObligatorioProgramacion3_Francisco_Luis.Models.Sponsor>

@{
    ViewBag.Title = "Sponsors";
    var permissions = Session["Permissions"] as List<string> ?? new List<string>();
}

<h2>Patrocinadores</h2>

@if (permissions.Contains("CreateSponsor"))
{
    <p>
        @Html.ActionLink("Crear Nuevo", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SponsorsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SponsorDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantPlan)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SponsorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantPlan)
            </td>
            <td>
                @if (permissions.Contains("EditSponsor"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                    <text> | </text>
                }
                @if (permissions.Contains("ViewSponsor"))
                {
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID })
                    <text> | </text>
                }
                @if (permissions.Contains("DeleteSponsor"))
                {
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }
</table>
