@model ObligatorioProgramacion3_Francisco_Luis.Models.Role
@{
    ViewBag.Title = "Create";
}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
<link href="~/Content/Styles/StylesRoles/StyleCreateRole.css" rel="stylesheet" />
<div class="form-containerRole">
    <h2 class="form-titleRole">Crear Rol</h2>
    <hr class="create-dividerRole" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors" })
        <div class="form-group">
           Nombre
            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "input-field", placeholder = "Ingrese Nombre rol" } })
            @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
        </div>
        <div class="buttons-container">
            <input type="submit" value="crear" class="submit-button" />
            <div class="back-link">
                @Html.ActionLink("← Volver a la lista", "Index")
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}